/* Light And Dark System Style */

@media (prefers-color-scheme: light) {
	:root {
		--color-background-color: white;
		--color-text: black;
		--color-input-box: rgb(255, 255, 255);
		--color-input-border: rgb(0,0,0);
		--color-placeholder: rgb(66, 66, 66);
		--shadow-color: lightgrey;
		--id-table-color: rgb(255, 255, 255);
		--blue-border: #0c2d6b;
		--backround-gradiant: linear-gradient(45deg, rgba(255,54,13,1) 0%, rgba(255,115,27,1) 70%, rgba(255,171,40,1) 100%);
		--nav-border:none;
		--nav-backround:none;
		--nav-text: rgb(0, 0, 0);
		--nav-hover-text:black;
		--nav-decor:underline;
		--nav-weight: bold;

		/* --nav-border:rgb(223, 100, 56);
		--nav-backround:rgb(255, 169, 111);
		--nav-text: black;
		--nav-hover-text:black; */


		
		
		
		
		
	} 
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-background-color: #21262d;
		--color-text: white;
		--color-input-box: #323335;
		--color-input-border: var(--color-background-color);
		--color-placeholder: lightgrey;
		--shadow-color:	black;
		--id-table-color: #303031;
		--blue-border: #0044c4;
		--backround-gradiant: linear-gradient(45deg, rgba(81,66,255,1) 0%, rgba(18,131,233,1) 50%, rgba(64,200,255,1) 90%);
		/* --backround-gradiant: linear-gradient(45deg, rgba(68,3,64,1) 0%, rgba(130,20,170,1) 70%, rgba(183,77,255,1) 91%);; */
		--nav-border: rgb(34, 34, 34);
		--nav-backround:rgb(22, 22, 22);
		--nav-text: white;
		--nav-hover-text:rgb(184, 184, 184);
		--nav-decor:none;
		--nav-weight: 100;
		
		
	}
}


/* General */

:root {
--orange-button: linear-gradient(45deg, rgba(255,54,13,1) 0%, rgba(255,115,27,1) 70%, rgba(255,171,40,1) 100%);
--blue-button: linear-gradient(45deg, rgba(81,66,255,1) 0%, rgba(18,131,233,1) 50%, rgba(64,200,255,1) 90%);
	

}


body {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	background-color: var(--color-background-color);
	font-size: 230%;
	font-family: Verdana, sans-serif;
	color: black;
	direction:rtl;
}

::placeholder {
	color: var(--color-placeholder);
	font-family: Arial, Helvetica, sans-serif;
	opacity: 1; /* Firefox */
  }



/* Nav-Bar Styling */

.nav-bar { 
	/* background-color: #161b22; */
	background-color: var(--nav-backround);
	margin: 0 0 10px 0; 
	overflow: hidden;
	
}

.nav-bar a {
	float: left;
	color: var(--nav-text);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
	border: 1.2px solid var(--nav-border);
	
	
}

.nav-bar a:hover {
	background-color: var(--nav-border);
	color: var(--nav-hover-text);
	font-weight: var(--nav-weight);
	
	
}

.nav-bar a.active {
	background-color:  var(--nav-border);
	color: var(--nav-text);
	font-weight: 900;
	text-decoration: var(--nav-decor);
}







/* QR Code Styling */

.qr-code-container {
	padding-bottom: 30px;
}

.qr-code-container .selected-user {
	text-align: center;
	padding: 20px 20px;
	color: var(--color-text);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	
}

.qr-code {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
	height: 300px;
	width: 300px;
	display: block;
	border: 1.5px solid var(--color-input-border);
	border-radius: 1.25px;
	
}



/* Login Style */

.login-style {
	color: var(--color-text);
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-top: 60px;
}


.login-style form {
	text-align: left;
	margin: 5% auto 15% auto;
	border: 2px solid #30363d;
	border-radius: 6px;
	width: 400px;
	padding: 20px;
}



.login-style form input[type=text], .login-style form input[type=password], .login-style form button{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
	background-color: var(--color-input-box);
	color: var(--color-text);
	border-radius: 5px;
	border: 0.5px solid var(--color-input-border);
	
}

.la-blue {
	background: var(--blue-button) !important;
}


/* Form Style */

.form-style {
	color: var(--color-text);
	text-align: center;
	font-weight: 500;
}

.form-style input[type=text] {
	-moz-appearance: textfield;
	/* -webkit-appearance: none; */
	border-radius: 6px;
	border: 2px solid var(--color-input-border);
	padding: 0;
	height: 1cm;
	width: 10cm;
	font-size: 0.7cm;
	text-align: center;
	background-color: var(--color-input-box);
	color: var(--color-text);
	
}

.form-style input[type=number], .fit input[type=number] {
	display: inline;
	-moz-appearance: textfield;
	/* -webkit-appearance: none; */
	border-radius: 6px;
	border: 2px solid var(--color-input-border);
	padding: 0;
	height: 4.2cm;
	width: 4.2cm;
	font-size: 2.7cm;
	text-align: center;
	margin: 0 10px 0 10px;
	background-color: var(--color-input-box);
	color: var(--color-text);
}

/* Random Chrome stuff */

.form-style input::-webkit-outer-spin-button, .fit input::-webkit-outer-spin-button,
.form-style input::-webkit-inner-spin-button, .fit input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}


.form-style button:hover {
	box-shadow: rgb(255, 51, 0) 0 1px 5px; transition-duration: .1s;
}

.form-style .robot-image {
	border-radius: 10px;
	width: 780px;
	height: 780px;
}

/* Button Style Class */

.form-style button, .button-style button, .button-style input[type=button], .button-style input[type=submit], .la-blue  {
	display: inline;
	user-select: none;
	background: var(--orange-button);
	border-radius: 0.5cm;
	border-style: none;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	font-size: 4cm;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 450;
	font-style: normal;
	height: 4cm;
	width: 4cm;
	padding: 0 0;
	text-align: center;
	touch-action: manipulation;
	box-shadow: 0 0 0 0;
}

.create {
	background: var(--blue-button);
	width:200px;
	height:60px;
	color: white;
	font-size: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
}



/* Toggle Class */

.toggle, .small-toggle {
    font-size: 0;
    direction: ltr;
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow: visible;
}

.toggle input, .small-toggle input {
    width: 0;
    height: 0;
    position: absolute;
	visibility: hidden;
}

.toggle input:checked + label, .small-toggle input:checked + label{
    background-color: #ff6600;
    color: #FFF;
    box-shadow: 0 0 10px orangered;
    border-color: #000000;
    z-index: auto;
}

.toggle input + label:first-of-type, .small-toggle input:checked + label:first-of-type {
    border-radius: 6px 0 0 6px;
    
}

.toggle input + label:last-of-type, .small-toggle input:checked + label:last-of-type {
    border-radius: 0 6px 6px 0;
    
}

.toggle input + label, .small-toggle input + label {
    margin: 0;
    padding: 2.6rem 3.8rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 1px rgb(0, 0, 0);
    background-color: var(--background-color);
    font-size: 2.8rem;
    line-height: 120%;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 0 0 rgba(61, 61, 61, 0);
    
}

.small-toggle input + label {
	padding: 1rem 2rem !important;
}



/* Counter Class */

.counter {
	display: flex;
	justify-content: center;
	align-items: center;
}



/* Titan Class */

.titan {
	color: var(--color-text);
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 2px 2px var(--shadow-color);
	text-align: center;
}



/* Assign Design */

.blue-dag {
	background-color: #6250ff;
	/* text-shadow: 0.5px 0.5px rgb(80, 80, 80); */
	/* text-shadow: 0.5px 0.5px rgb(0, 38, 109); */
	font-weight: 550;

}

.red-dag {
	background-color: #ff3737;
	/* text-shadow: 0.5px 0.5px rgb(112, 0, 0); */
	font-weight: 550;

}

.grey-dag {
	background-color: rgb(165, 165, 165);
	color: black;
	/* text-shadow: 0.5px 0.5px rgb(112, 0, 0); */
	font-weight: 550;

}



/* TextBox Design */

.arena {
	width: 21cm; 
	font-size: 1.1cm;
	height:8.7cm;
	direction: rtl;
	text-align: right;
	padding-right: 5px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 0.1cm; 
	border: 1.5px solid var(--color-input-border);
	background-color: var(--color-input-box); 
	color:var(--text)


}



/* Upload */

.pic-center {
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;

	}

.pic-form-input {
	width:350px;
	padding:20px;
	background:var(--background-color);
	border: 2px solid var(--color-input-border);
}

pic-form-input input {
	display:none;
}

.pic-form-input label {
	display:block;
	width:200px;
	height:45px;
	margin-right: 75px;
	line-height:50px;
	text-align:center;
	background: linear-gradient(45deg, rgba(255,54,13,1) 0%, rgba(255,115,27,1) 70%, rgba(255,171,40,1) 100%);
	color:#fff;
	font-size:20px;
	font-family:"Open Sans",sans-serif;
	font-weight:600;
	border-radius:5px;
	cursor:pointer;
}

.pic-form-input img {
	width:100%;
	display:none;
	margin-bottom:30px;
}


	


